<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include("../partials/header.ejs")%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            body {
                background-color: #EAEBEF !important;
            }
        </style>
</head>

<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container-lg " class="">
        <div class="border my-5 p-5 rounded w-75 " style="margin: 0 auto; background-color: white !important;">
            <h1 class="mb-5">Edit Athlete Information</h1>
            <form class="row g-3" method="post" action="/admin/updateAthletes" >
                <input type="text" class="d-none" id="_id" name="aid" value="<%= athlete._id %>" readonly><br>
                <div class="col-lg-6">
                    <label for="aka" class="form-label">AKA (Athlete's Nickname):</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" value="<%= athlete.nickname %>">
                </div>
                <div class="col-lg-3">
                    <label for="weight" class="form-label">Weight:</label>
                    <input type="number" class="form-control" id="weight" name="weight" value="<%= athlete.weight %>">
                </div>

                <div class="col-lg-3">
                    <label for="height" class="form-label">Height:</label>
                    <input type="number" class="form-control" id="height" name="height" value="<%= athlete.height %>">
                </div>

                <div class="col-lg-3">
                    <label for="reach" class="form-label">Reach:</label>
                    <input type="number" class="form-control" id="reach" name="reach" value="<%= athlete.reach %>">
                </div>
                <div class="col-lg-5">
                    <label for="bday" class="form-label">Dday:</label>
                    <input type="date" class="form-control" id="bday" name="bday" value="<%= formattedBday %>">
                </div>
                <div class="col-lg-4">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" class="form-control" id="country" name="country" value="<%= athlete.country %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">Weight Class:</label>
                    <select class="form-select text-dark weightClass" required name="weightClass">
                        <option value="" selected hidden>เลือกพิกัดน้ำหนัก</option>
                        <option class="ath-w-class" value="Super Flyweight">Super Flyweight</option>
                        <option class="ath-w-class" value="Flyweight">Flyweight</option>
                        <option class="ath-w-class" value="Middleweight">Middleweight</option>
                        <option class="ath-w-class" value="Strawweight">Strawweight</option>
                        <option class="ath-w-class" value="Atomweight">Atomweight</option>
                        <option class="ath-w-class" value="Featherweight">Featherweight</option>
                        <option class="ath-w-class" value="Welterweight">Welterweight</option>
                        <option class="ath-w-class" value="Heavyweight">Heavyweight</option>
                        <option class="ath-w-class" value="Catchweight">Catchweight</option>
                        <option class="ath-w-class" value="Bantamweight">Bantamweight</option>
                        <option class="ath-w-class" value="Lightweight">Lightweight</option>
                        <option class="ath-w-class" value="Lightweight">Light Heavyweight</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="inputState" class="form-label">Team:</label>
                    <select class="form-select" name="team" id="team">
                        <option value="">เลือกทีม</option>
                        <% for (const item of teams) { %>
                            <option value="<%= item._id %>"<% if (String(athlete.team) === String(item._id)) { %> selected <% } %>><%= item.teamname %></option>
                        <% } %>
                    </select>  
                </div>

                <div class="col-lg-4">
                    <label for="country" class="form-label">wins:</label>
                    <input type="number" class="form-control" name="wins" value="<%= athlete.wins %>">
                </div>
                <div class="col-lg-4">
                    <label for="country" class="form-label">losses:</label>
                    <input type="number" class="form-control" name="losses" value="<%= athlete.losses %>">
                </div>
                <div class="col-lg-4">
                    <label for="country" class="form-label">draws:</label>
                    <input type="number" class="form-control" name="draws" value="<%= athlete.draws %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">knockouts:</label>
                    <input type="number" class="form-control" name="knockouts" value="<%= athlete.knockouts %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">knockoutsLosses:</label>
                    <input type="number" class="form-control" name="knockoutsLosses" value="<%= athlete.knockoutsLosses %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">technicalKnockouts:</label>
                    <input type="number" class="form-control" name="technicalKnockouts" value="<%= athlete.technicalKnockouts %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">technicalKnockoutsLosses:</label>
                    <input type="number" class="form-control" name="technicalKnockoutsLosses" value="<%= athlete.technicalKnockoutsLosses %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">overwhelmingScore:</label>
                    <input type="number" class="form-control" name="overwhelmingScore" value="<%= athlete.overwhelmingScore %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">overwhelmingScoreLosses:</label>
                    <input type="number" class="form-control" name="overwhelmingScoreLosses" value="<%= athlete.overwhelmingScoreLosses %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">majorityVotes:</label>
                    <input type="number" class="form-control" name="majorityVotes" value="<%= athlete.majorityVotes %>">
                </div>
                <div class="col-lg-6">
                    <label for="weightClass" class="form-label">majorityVotesLosses:</label>
                    <input type="number" class="form-control" name="majorityVotesLosses" value="<%= athlete.majorityVotesLosses %>">
                </div>
                <button type="submit" class="btn btn-primary fw-bold">Confirm</button>
            </form>
        </div>
    </div>

    <script>
        const options = document.querySelectorAll(".ath-w-class")
        for (const option of options) {
            if(`<%= athlete.weightClass%>`==option.value){
                option.selected = true
            }
        }
    </script>
</body>


</html>