<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>จัดการตาราง (TKO)</title>
  <!-- <link rel="stylesheet" href="/css/event.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">


  <style>
    /* *{
            color: #181D31 !important;

        } */
    .nameEvent,
    .datep,
    .timep {
      color: #181D31 !important;
      margin: 0 !important;
    }

    .nameEvent {
      font-weight: bolder !important;
    }

    /* .marginChange{
            margin: 0 !important;
        } */
    .headr1 {
      padding: 0.5em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #181D31;
    }

    .n4_input_div {
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
      background-color: white;
      color: black;
      padding: 1em 2em;
      border-radius: 0.5em;

    }

    .datetime {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nameEvent {
      font-weight: bold;

    }

    .dtailLink {
      text-decoration: none;
      width: 70%;
      background-color: #007FFF;
      color: white;
      border-radius: 0.2em;
      text-align: center;
      padding: 0.1em;
      margin: 0 auto;
    }

    .dtailLink1 {
      text-decoration: none;
      width: 70%;
      background-color: orange;
      color: white;
      border-radius: 0.2em;
      text-align: center;
      padding: 0.1em;
      margin: 0 auto;
    }


    .locateSpan {
      color: #181D31 !important;
      font-size: smaller !important;
    }

    .p_sub_title {
      font-size: medium !important;
      color: #181D31 !important;

    }

    .eventTopic {
      width: 15%;
      background-color: white;
      color: #F50057 !important;
      margin: 0 auto !important;
      text-align: center;
      padding: 0.25em;
      border-radius: 0.5em;
      border: 0.5px solid #F50057;
      margin-bottom: 3em !important;
    }

    .statusp {
      color: green !important;
      margin: 0 !important;
      font-weight: bolder;
    }

    .nav-item,
    .nav-link {
      color: #181D31 !important;
    }

    .inAmatch {
      padding: 0.3em 0.7em;
      border: 1px solid #007FFF;
      background-color: #007FFF;
      border-radius: 0.5em;
      text-align: center;
      color: white !important;
    }

    .weightClass {
      margin-left: 1em;
      width: 20% !important;
    }
  </style>
</head>

<body>
  <%- include("./partials/nav.ejs")%>
  <!-- <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <p class="eventTopic">ตารางการแข่งขัน</p>
            
        </div>
    </section> -->
  <section class="explore-section section-padding" id="section_2">
    <div class="container">
      <div class="row">

        <div class="col-12 text-center">
          <h2 class="mb-4 text-black">ตารางการแข่งขัน</h2>
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <ul class="nav nav-tabs bg-danger" id="myTab" role="tablist">
          <li class="nav-item eventLink bg-danger" role="presentation">
            <button class="nav-link eventLink bg-danger" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">ตาราง</button>
          </li>

          <li class="nav-item eventLink" role="presentation">
            <button class="nav-link eventLink bg-danger" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">เพิ่มตาราง</button>
          </li>

          <li class="nav-item eventLink" role="presentation">
            <button class="nav-link eventLink bg-danger" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">แก้ไขตาราง</button>
          </li>

          <li class="nav-item eventLink" role="presentation">
            <button class="nav-link eventLink bg-danger" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">ลบตาราง</button>
          </li>

        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
              <div class="row">
                <div class="div_add_funtion">
                  <div class="div_sub_title">
                    <p class="p_sub_title">ตารางการแข่งขันทั้งหมด</p>
                  </div>
                  <% if (events.length>0) { %>
                  <% events.forEach(event=> { %>
                  <div class="n4_input_div mb-3 shadow-lg">
                    <div class="marginChange">

                      <p class="nameEvent">
                        <%= event.eventName %>
                        <span class="locateSpan">( <%= event.country %>
                          )</span>
                      </p>
                    </div>
                    <div class="datetime">

                      <div>
                        <p class="datep">
                          <%= event.eventDate%>
                        </p>
                      </div>
                      <div>
                        <p class="timep">
                          <%= event.eventTime%>
                        </p>
                      </div>
                      <% if (event.Status==='0' ) { %>
                      <p class="statusp">เร็ว ๆ นี้</p>
                      <% } else { %>
                      <p class="statusp" style="color: #F50057 !important;">
                        จบไปแล้ว</p>
                      <% } %>

                      <a href="#" class="btn btn-primary">รายละเอียด</a>
                    </div>
                  </div>
                  <% }) %>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
              <div class="row">
                <div class="col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="d-flex">
                          <div>
                            <h5 class="mb-4 text-primary">เพิ่มตารางการแข่งขัน</h5>
                            <p class="mb-4 text-black">1
                              ตารางการแข่งขันจะต้องทำการเพิ่มให้ครบ 8 คู่</p>
                          </div>
                          <span class="badge bg-advertising rounded-pill ms-auto"></span>
                        </div>
                        <div class="row">
                          <form action="/eventIndex" method="post" onsubmit="return validateSelection();">
                            <div class="col-lg-6 col-md-6 col-6">

                              <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label text-dark">ชื่อ
                                  Event</label>
                                <input type="text" class="form-control text-dark" id="exampleInputEmail1" name="eventName" required>
                                <!-- <div id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</div> -->
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-dark">วันที่</label>
                                <input type="date" class="form-control text-dark" id="exampleInputPassword1" name="eventDate" required>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-dark">เวลาเริ่มการแข่งขัน</label>
                                <input type="time" class="form-control text-dark" id="exampleInputPassword1" name="eventTime" required>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-dark">สนามที่จัดการแข่งขัน</label>
                                <input type="text" class="form-control text-dark" id="exampleInputPassword1" name="eventLocation" required>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-dark">ประเทศ</label>
                                <input type="text" class="form-control text-dark" id="exampleInputPassword1" name="country" required>
                              </div>

                            </div>
                            <div class="col-12">
                              <h5 class="mb-2 mt-5 text-primary">
                                นักกีฬาที่เข้าร่วมการแข่งขัน</h5>
                              <% for (let i=1; i <=8; i++) { %>
                              <div class="mb-3 p-3 shadow-sm rounded">
                                <div class="d-flex">
                                  <label for="InaMatch<%= i %>" class="form-label text-light inAmatch">
                                    <%= i %>
                                  </label>
                                  <select class="form-select text-dark weightClass" name="weightClass<%= i %>">
                                    <option selected hidden>เลือกพิกัดน้ำหนัก</option>
                                    <option value="Super Flyweight">Super Flyweight</option>
                                    <option value="Flyweight">Flyweight</option>
                                    <option value="Middleweight">Middleweight</option>
                                    <option value="Strawweight">Strawweight</option>
                                    <option value="Atomweight">Atomweight</option>
                                    <option value="Featherweight">Featherweight</option>
                                    <option value="Welterweight">Welterweight</option>
                                    <option value="Heavyweight">Heavyweight</option>
                                    <option value="Catchweight">Catchweight</option>
                                    <option value="Bantamweight">Bantamweight</option>
                                    <option value="Lightweight">Lightweight</option>
                                    <option value="Lightweight">Light Heavyweight</option>
                                  </select>
                                </div>
                                <div class="row mt-3">
                                  <!-- <label for="exampleInputPassword1" class="form-label text-dark mt-2">นักกีฬา</label> -->

                                  <div class="d-flex">
                                    <% if (athletes.length> 0) { %>
                                    <select class="form-select w-25 text-dark" name="firstselector<%= i %>">
                                      <option selected hidden>เลือกนักกีฬา</option>
                                      <% let usedWeightClasses=[]; %>
                                      <% athletes.forEach(boxer=> { %>
                                      <% let getWeightClass=boxer.weightClass; %>
                                      <% if (!usedWeightClasses.includes(getWeightClass)) { %>
                                      <optgroup label="<%= getWeightClass %>">
                                        <% usedWeightClasses.push(getWeightClass); %>
                                        <% athletes.forEach(innerBoxer => { %>
                                        <% if (innerBoxer.weightClass === getWeightClass) { %>
                                        <option value="<%=innerBoxer._id %>"><%=
                                                        innerBoxer.aka %>
                                        </option>
                                        <% } %>
                                        <% }); %>
                                      </optgroup>
                                      <% } %>
                                      <% }); %>
                                    </select>

                                    <h6 class="text-dark m-2 align-middle">
                                      VS</h6>

                                    <select class="form-select w-25 text-dark" name="secondselector<%= i %>">
                                      <option selected hidden>เลือกนักกีฬา</option>
                                      <% let usedWeightClasses2=[]; %>
                                      <% athletes.forEach(boxer=> { %>
                                      <% let getWeightClass2=boxer.weightClass; %>
                                      <% if (!usedWeightClasses2.includes(getWeightClass2)) { %>
                                      <optgroup label="<%= getWeightClass2 %>">
                                        <% usedWeightClasses2.push(getWeightClass2); %>
                                        <% athletes.forEach(innerBoxer=> { %>
                                        <% if (innerBoxer.weightClass===getWeightClass2) { %>
                                        <option value="<%= innerBoxer._id %>">
                                          <%= innerBoxer.aka %>
                                        </option>
                                        <% } %>
                                        <% }); %>
                                      </optgroup>
                                      <% } %>
                                      <% }); %>
                                    </select>

                                    <% } %>
                                  </div>
                                  <div class="form-check form-switch m-3">
                                    <input class="form-check-input" type="checkbox" role="switch" name="description<%= i %>">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">การแข่งขันชิงแชมป์</label>
                                  </div>
                                </div>

                              </div>

                              <% } %>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="return checkForDuplicates();">บันทึก</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
              <div class="row">
                <div class="div_add_funtion">
                  <div class="div_sub_title">
                    <p class="p_sub_title">ตารางการแข่งขันทั้งหมด</p>
                  </div>
                  <% if (events.length>0) { %>
                  <% events.forEach(event=> { %>
                  <div class="n4_input_div mb-3 shadow-lg">
                    <div class="marginChange">

                      <p class="nameEvent">
                        <%= event.eventName %>
                        <span class="locateSpan">( <%= event.country %>
                          )</span>
                      </p>
                    </div>
                    <div class="datetime">


                      <div>
                        <p class="datep">
                          <%= event.eventDate%>
                        </p>
                      </div>
                      <div>
                        <p class="timep">
                          <%= event.eventTime%>
                        </p>
                      </div>
                      <% if (event.Status==='0' ) { %>
                      <p class="statusp">เร็ว ๆ นี้</p>
                      <% } else { %>
                      <p class="statusp" style="color: #F50057 !important;">
                        จบไปแล้ว</p>
                      <% } %>

                      <a href="/eventIndex/edit/<%= event._id %>" class="btn btn-warning">แก้ไขตาราง</a>
                    </div>
                  </div>
                  <% }) %>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
              <div class="row">
                <div class="div_add_funtion">
                  <div class="div_sub_title">
                    <p class="p_sub_title">ตารางการแข่งขันทั้งหมด</p>
                  </div>
                  <% if (events.length>0) { %>
                  <% events.forEach(event=> { %>
                  <div class="n4_input_div mb-3 shadow-lg">
                    <div class="marginChange">

                      <p class="nameEvent">
                        <%= event.eventName %>
                        <span class="locateSpan">( <%= event.country %>
                          )</span>
                      </p>
                    </div>
                    <div class="datetime">


                      <div>
                        <p class="datep">
                          <%= event.eventDate%>
                        </p>
                      </div>
                      <div>
                        <p class="timep">
                          <%= event.eventTime%>
                        </p>
                      </div>
                      <% if (event.Status==='0' ) { %>
                      <p class="statusp">เร็ว ๆ นี้</p>
                      <% } else { %>
                      <p class="statusp" style="color: #F50057 !important;">
                        จบไปแล้ว</p>
                      <% } %>

                      <a class="btn-delete btn btn-danger" href="/eventIndex/delete/<%= event._id %>" onclick="return confirmDelete(this);">
                        ลบตาราง
                      </a>
                    </div>
                  </div>
                  <% }) %>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <%- include("./partials/footer.ejs")%>
  <script>
    function validateSelection() {
      var isValid = true; // สมมติว่าการเลือกถูกต้องเริ่มต้น

      for (let i = 1; i <= 8; i++) {
        var firstSelector = document.querySelector('select[name="firstselector' + i + '"]');
        var secondSelector = document.querySelector('select[name="secondselector' + i + '"]');

        if (firstSelector.value === 'เลือกนักกีฬา' || secondSelector.value === 'เลือกนักกีฬา') {
          Swal.fire({
            icon: 'error',
            title: 'ไม่สามารถบันทึกได้!',
            text: 'โปรดเลือกคู่นักกีฬาให้ครบ',
            // footer: '<a href="">Why do I have this issue?</a>'
          });
          isValid = false; // ให้การเลือกไม่ถูกต้อง
          break; // หยุดตรวจสอบเมื่อพบการเลือกไม่ถูกต้อง
        }
      }

      return isValid; // ส่งคืน true ถ้าการเลือกถูกต้อง หรือ false ถ้ามีการเลือกไม่ถูกต้อง
    }
    // const btnDelete = document.querySelectorAll('.btn-delete');
    // btnDelete.forEach(e => {
    //   e.addEventListener('click', (event) =>{
    //     const eId = event.target.id

    //     Swal.fire({
    //       title: 'Are you sure?',
    //       text: "You won't be able to revert this!",
    //       icon: 'warning',
    //       showCancelButton: true,
    //       confirmButtonColor: '#3085d6',
    //       cancelButtonColor: '#d33',
    //       confirmButtonText: 'Yes, delete it!'
    //     }).then((result) => {
    //       if (result.isConfirmed) {
    //         window.location.href = `/eventIndex/delete/${eid}>`
    //       
    //     })
    //   })
    // })
    // ใน JavaScript
    function checkForDuplicates() {
      var selectedValues = []; // เก็บค่าที่ถูกเลือกใน select elements
      var isDuplicate = false; // ตัวแปรสำหรับตรวจสอบค่าซ้ำ

      // วนลูปเพื่อเก็บค่าที่ถูกเลือกใน select elements
      for (let i = 1; i <= 8; i++) {
        var firstSelector = document.querySelector('select[name="firstselector' + i + '"]');
        var secondSelector = document.querySelector('select[name="secondselector' + i + '"]');

        // เพิ่มค่าที่ถูกเลือกใน select elements ลงใน selectedValues
        selectedValues.push(firstSelector.value);
        selectedValues.push(secondSelector.value);
      }

      // ตรวจสอบค่าซ้ำ
      for (let i = 0; i < selectedValues.length; i++) {
        if (selectedValues.indexOf(selectedValues[i]) !== i) {
          isDuplicate = true;
          break; // หากพบค่าที่ซ้ำกัน ให้หยุดตรวจสอบ
        }
      }

      // แสดงข้อความแจ้งเตือน SweetAlert หากมีค่าซ้ำกัน
      if (isDuplicate) {
        Swal.fire({
          icon: 'error',
          title: 'ไม่สามารถบันทึกได้!',
          text: 'นักกีฬาแต่ละคู่ต้องเป็นคนละคนกัน'
        });
        return false; // ไม่อนุญาตให้ submit ฟอร์ม
      } else {
        // สามารถทำการบันทึกได้
        // เพิ่มโค้ดที่คุณต้องการในส่วนนี้
        return true; // อนุญาตให้ submit ฟอร์ม
      }
    }


    function confirmDelete(link) {
      Swal.fire({
        title: 'คุณแน่ใจใช่ไหม?',
        text: "หากลบไปแล้ว จะไม่สามารถย้อนกลับได้",
        icon: 'คำเตือน!',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ใช่, ลบเลย!'
      }).then((result) => {
        if (result.isConfirmed) {
          // ดึง eventId จาก href ของลิงก์
          var href = link.getAttribute('href');
          var eventId = href.split('/').pop();

          // ตรวจสอบว่า eventId ถูกต้องหรือไม่
          if (eventId) {
            window.location.href = `/eventIndex/delete/${eventId}`;
          } else {
            console.error('ไม่พบ eventId ใน URL');
          }
        }
      });

      // ยกเลิกการกำหนดลิงก์เดิม (การคลิกให้ลิงก์ไม่ทำงาน)
      return false;
    }


    //////////////////////////////
  </script>





</body>


</html>