<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs")%>
    <link rel="stylesheet" href="/css/reset_password.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        window.onload=()=>{
            const status = `<%=status%>`
            if(status){
                setTimeout(()=>{
                    document.querySelector(".text-status").innerHTML = ""
                    document.querySelector(".text-status").style.display = "none"
                    if(status=="yes"){
                        window.location.href = '/profile'
                    }
                },2000)
            }
        }
    </script>
    <style>
        .form-input{
            position: relative;
        }
        .bi-eye-fill{
            position: absolute;
            right: 7%;
            top: 51%;
            cursor: pointer;
        }
        .bi-eye-fill.open{
            opacity: .5;
        }
    </style>
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="reset-password container py-3 w-50 mt-4">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/profile" class="text-decoration-none">โปรไฟล์</a></li>
              <li class="breadcrumb-item active" aria-current="page">แก้ไขรหัสผ่าน</li>
            </ol>
        </div>
    </div>
    <div class="d-flex px-0 gap-3 container w-50 my-3">
        <div class="reset-password container w-50">
            <img class="d-block w-100" src="/images/password_meme/yoda_meme_2.jpg" alt="">
        </div>
        <div class="reset-password container w-50">
            <% if (status) { %>
                <p class="text-status text-center text-<%= (status=="yes") ? 'success' : 'danger' %>">
                    <%= message%>
                </p>
              <% } %>
            <form style="margin: auto 0; height: fit-content;" name="reset-password" action="/profile/reset_password" method="post">
                <div class="row mb-3">
                    <div class="text-dark form-input">
                        <h6 class="mb-2">Old Password</h6>
                        <input required type="password" id="password" class="form-control" name="password" value="">
                        <i class="bi bi-eye-fill" id="eye-password"></i>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="text-dark form-input">
                        <h6 class="mb-2">New password</h6>
                        <input required type="password" class="form-control" id="new_password" name="new_password" value="">
                        <i class="bi bi-eye-fill" id="eye-new_password"></i>
                    </div>
                </div>
                <div id="progress-bar" class="mb-3">
                    <span id="progress"> </span>
                    <span id="progress-word"></span>
                </div>
                <div class="row mb-4">
                    <div class="text-dark form-input">
                        <h6 class="mb-2">Confirm password</h6>
                        <input required type="password" class="form-control" id="confirm_password" name="confirm_password" value="">
                        <i class="bi bi-eye-fill" id="eye-confirm_password"></i>
                    </div>
                </div>
                <div class="row" style="margin-top: 2em;">
                    <div class="text-dark form-input">
                        <button class="submit btn w-100" type="submit">ตกลง</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
    <script>
        const eye = document.querySelectorAll(".bi-eye-fill")
        eye.forEach(e=>{
            e.addEventListener('click', (event)=>{
                e.classList.toggle('open');
                const eId = event.target.id.split("-").at(1)
                const input = document.querySelector(`#${eId}`)
                console.log()
                if(input.type=="password"){
                    input.type="text"
                }else{
                    input.type="password"
                }
            })
        })
        document.querySelector(".toggle-profile-setting").classList.add('toggle-active')
        const progressBar = document.querySelector("#progress-bar")
        const progress = document.querySelector("#progress")
        const progressWord = document.querySelector("#progress-word")
        const passwordInput = document.querySelector("#new_password")

        passwordInput.addEventListener('input', (event) => {
            let strength = 0
            const passwordValue = event.target.value;
            if(!passwordValue){
                progressBar.style.display = "none"
                progress.style.display = "none"
                progressWord.innerHTML = ''
                return
            }
            progressBar.style.display = "block"
            progress.style.display = "block"
            if (passwordValue.length >= 6) {
                strength++
            }
            if (/[0-9]/.test(passwordValue)) {
                strength++
            }
            if (/[A-Z]/.test(passwordValue)) {
                strength++
            }
            if (/[a-zก-๛]/.test(passwordValue)) {
                strength++
            }
            progress.style.width = `${Math.ceil((strength / 4) * 100)}%`
            let color
            switch (strength) {
                case 1:
                    progressWord.innerHTML = 'Weak'
                    color = "danger"
                    break
                case 2:
                    progressWord.innerHTML = 'Normal'
                    color = "warning"
                    break
                case 3:
                    progressWord.innerHTML = 'Strong'
                    color = "success"
                    break
                case 4:
                    progressWord.innerHTML = 'Extream'
                    color = "success"
                    break
                default:
                    break
            }
            progressWord.classList = `text-${color}`
            progress.classList = `border-${color}`
        })
    </script>
</body>
</html>