<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs")%>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-image: linear-gradient(15deg, #181D31 0%, #272829 100%) !important;
            position: relative;
        }
        ol li a{
            color: #C70039;
        }
        ol li a:hover{
            color: #750021;
        }
        body.modal-open {
            overflow: hidden;
        }
        .hero {
            color: #19191E;
            display: flex;
            gap: 2em;
            position: relative;
        }
        select{
            padding: 0 !important;
        }
        .hero.container,
        .ath.container,
        .breadcrumb.container{
            background-color: white;
            box-shadow: rgba(153, 153, 153, 0.2) 0px 2px 5px 0px !important;
            padding: 2em 3em;
            border-radius: 10px;
            width: 1140px;
        }
        .breadcrumb.container{
            padding: .5em 3em;
        }
        .hero img{
            width: 300px;
            height: 250px;
            object-fit: contain;
            mix-blend-mode: multiply;
            margin: 0 auto;
        }
        .desc h1{
            word-spacing: .35em;
            text-transform: uppercase;
        }
        .desc p{
            text-align: justify;
        }
        #add-athlete{
            transition: all .3s ease 0s;
        }
        #add-athlete:active{
            scale: .95;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30% !important;
            position: relative;
            animation: modal-pop-up 0.3s ease forwards;
        }
        .close {
            position: absolute;
            font-size: 1.5em;
            font-weight: bold;
            cursor: pointer;
            top: 16px;
            right: 20px;
            display: block;
        }
        .close:hover {
            color: red;
        }
        
        select option{
            /* padding: 1em; */
            border: 1px solid #dee2e6;
            border-radius: 8px;
            margin-bottom: .5em;
            display: flex;
            align-items: center;
            font-size: 1.5em;
        }
        option::before {
            content: '';
            display: inline-block;
            width: 80px;
            height: 80px;
            background-size: cover;
            margin-right: 1.5em;
            background-repeat: no-repeat;
            border-radius: 8px 0 0 8px;
        }
        select option:checked {
            background-color: #000000 !important;
            color: #fff;
        }
        :root {
            --background-image: url();
        }
        ::before {
            background-image: var(--background-image);
        }
        ul.athletes-list{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3em;
            column-gap: 2em;
        }
        ul.athletes-list li{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
        ul.athletes-list li img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 10em;
            margin-bottom: .5em;
            margin: 0 auto;
            margin-bottom: .5em;
            border-radius: 6px;
        }
        ul.athletes-list li a{
            text-decoration: none;
            color: #19191E;
            text-align: center;
        }
        ul.athletes-list li a h2{
            margin: 0;
            margin-bottom: .2em;
            font-size: 1.1em;
        }
        ul.athletes-list li a p{
            margin: 0;
            font-size: .9em;
        }
        ul.athletes-list{
            padding: 0;
            margin-bottom: 0;
        }
        .circle{
            border-radius: 40px;
            background-color: #00000080;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 1em;
            position: absolute;
            left: 82%;
            top: 4%;
            cursor: pointer;
            z-index: 1;
        }
        .circle i{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1em;
            transform: translate(-50%, -50%);
            color: white;
        }
        .manage-team{
            width: fit-content;
            display: flex;
            gap: 1em;
            margin-left: auto;
            padding: .5em;
            position: absolute;
            top: 5%;
            right: 3%;
        }
        .manage-team a{
            display: inline-block;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .manage-team .circle{
            border-radius: 40px;
            background-color: #76767659;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 1em;
            position: relative;
            cursor: pointer;
            z-index: 1;
            top: 0;
            left: 0;
        }
        .manage-team .circle .bi{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #242526;
            transition: all .5s ease 0s;
        }
        .manage-team .circle:active{
            transform: scale(.9);
        }
        </style>
</head>

<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container hero mt-4">
        <img style="width: 40%;" class="d-block" src="/images/teams/<%=team.logo%>" alt="<%=team.teamname%>">
        <div style="width: 60%;" class="desc">
            <h1>
                <%=team.teamname%>
            </h1>
            <p class="text-break">
                <%=team.desc%>
            </p>
        </div>
    </div>
    <div class="ath container mt-3 mb-4">
        <ol class="breadcrumb d-flex" style="margin-bottom: 2em;">
            <li class="breadcrumb-item"><a href="/" class="text-decoration-none">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/team" class="text-decoration-none">ทีม</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= team.teamname%></li>
        </ol>
        <div class="d-flex justify-content-between mb-4">
            <h6 style="margin: 0;">นักกีฬาภายในทีม</h6>
        </div>
        <%
        if(team.athletes.length>0){%>
            <ul class="athletes-list">
            <%for (const ath of team.athletes) {%>
                <li>
                    <a href="/athletes/find/<%=ath._id%>">
                        <img src="/images/profile/<%=ath.user.img%>" alt="">
                        <h2>
                            <%=ath.nickname%>
                        </h2>
                        <p>
                            <%=ath.country%>
                        </p>
                    </a>
                </li>
                <%}%>
            </ul>
        <%}else{%>
            <ul class="mt-4 athletes-list d-flex">
                <li class="w-100 text-center">ไม่มีข้อมูลนักกีฬา</li>
            </ul>
        <%}%>
    </div>
    
</body>

</html>