<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs")%>
    <%
    const callAge=(bday)=>{
        const birthDate = new Date(bday)
        const currentDate = new Date()
        const ageInMilliseconds = currentDate - birthDate
        const age = Math.floor(ageInMilliseconds / (1000 * 60 * 60 * 24 * 365.25))
        return age
    }
    const convertSecondsToMin = (seconds) => {
        const minutes = Math.floor(seconds / 60)
        const remainingSeconds = seconds % 60
        const formattedTime = `(${minutes}:${remainingSeconds < 10 ? '0' + remainingSeconds : remainingSeconds})`
        return formattedTime
    }
    const convertSecondsToTime = (seconds) => {
        const hours = Math.floor(seconds / 3600)
        const minutes = Math.floor((seconds % 3600) / 60)
        const remainingSeconds = seconds % 60
        let formattedTime = ''
    
        if (hours > 0) {
            formattedTime += `${hours} ชั่วโมง}`
        }
        if (minutes > 0) {
            if (formattedTime.length > 0) {
            formattedTime += `${hours > 0 ? ' ' : ''}${minutes < 10 ? '0' + minutes : minutes} นาที`
            } else {
            formattedTime += `${minutes} นาที`
            }
        }
        if (remainingSeconds > 0) {
            if (formattedTime.length > 0) {
            formattedTime += `${minutes > 0 ? ' ' : ''}${remainingSeconds < 10 ? '0' + remainingSeconds : remainingSeconds} วินาที`
            } else {
            formattedTime += `${remainingSeconds} วินาที`
            }
        }
        return formattedTime.trim()
    }
    
    const formatDate = (inputDate)=>{
        const date = new Date(inputDate)
        const options = { year: 'numeric', month: 'short', day: 'numeric' }
        return date.toLocaleDateString('en-US', options)
    }
    const capitalize = (string)=>{
        return string.toUpperCase()
    }

    const judgement = (txt)=>{
        const data = {
            "knockouts":"น็อกเอาท์",
            "technical knockout":"ทีเคโอ",
            "overwhelming score":"คะแนนเอกฉันท์",
            "majorityVotes":"คะแนนเสียงข้างมาก"
        }
        return data[txt]
    }

    var totalRound = 0
    var totalTime = 0
    var totalMatch = 0
    for(let match of athlete.matches){
        totalMatch++
        totalRound += match.ResultRound
        totalTime += (((match.ResultRound)-1)*3)*60+match.ResultClock
    }
    %>
    <script>
        window.onload = ()=>{

            const scoreCount = document.querySelectorAll('.score-count')
            function updateCounter() {
                if (count < limit) {
                    count++;
                    counterElement.innerText = count;
                } else {
                    clearInterval(counterInterval);
                }
            }
            for (const element of scoreCount) {
                const type = element.classList[1]
                // `<%= athlete.wins%>`
                
                // let count = 0;
                // const limit = 10;  
                // setInterval(updateCounter, 250); 
            }
        }
    </script>
    <s><link rel="stylesheet" href="/css/athProfile.css"></s>
</head>
<body>
   <%- include("../partials/nav.ejs")%>
   <div class="athlete-hero mb-2">
        <div class="score">
            <div class="rate">
                <div>
                    <span class="score-count win"><%= athlete.wins%></span><span>ชนะ</span>
                </div>
                <div>
                    <span class="score-count loss"><%= athlete.losses%></span><span>แพ้</span>
                </div>
            </div>
        </div>
        <img class="athlete-img" src="/images/profile/<%= athlete.user.img%>" alt="<%= athlete.nickname%>">
        <div class="athlete-info ">
            <h1 class="h1"><%= capitalize(athlete.nickname)%> <br> <%= athlete.user.fname%> <%= athlete.user.lname%> </h1>
            <div class="mt-4 athlete-detail">
                <div class="detail-item">
                    <label>พิกัดน้ำหนัก</label>
                    <p><span><%= (athlete.weight*2.2).toFixed(2)%></span>ปอนด์ <br> <span><%= athlete.weight%></span>กิโลกรัม</p>
                </div>
                <div class="detail-item">
                    <label>ส่วนสูง</label>
                    <p><span><%= (athlete.height*0.3937).toFixed(2)%></span>ฟุต <br> <span><%= athlete.height%></span>ซม.</p>
                </div>
                <div class="detail-item">
                    <label>ช่วงชก</label>
                    <p><span><%= athlete.reach%></span>นิ้ว.</p>
                </div>
                <div class="detail-item">
                    <label>อายุ</label>
                    <p><span><%= callAge(athlete.bday)%></span>ปี</p>
                </div>
                <div class="detail-item">
                    <label>ประเทศ</label>
                    <p><%= athlete.country%></p>
                </div>
                <div class="detail-item">
                    <label>ทีม</label>
                    <% const teamName = (athlete.team)? athlete.team.teamname:"ไม่มีทีม" %>
                    <p><%= teamName%></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ath container my-4">
        <ol class="breadcrumb d-flex" style="margin-bottom: 2em;">
            <li class="breadcrumb-item"><a href="/" class="text-decoration-none">หน้าหลัก</a></li>
            <li class="breadcrumb-item"><a href="/athletes" class="text-decoration-none">นักกีฬา</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= athlete.nickname%></li>
        </ol>
        <div class="dashboard">
                <div class="stat w-100">
                    <div class="stat-item d-flex gap-1 mt-0">
                        <div class="w-50 py-2 text-white" style="background-color: rgb(0, 104, 5);">ชนะ</div>
                        <div class="w-50 py-2 text-white" style="background-color: rgb(210, 10, 10);">แพ้</div>
                    </div>
                    <div class="stat-item">
                        <div><%= athlete.knockouts%></div>
                        <div>น็อกเอาต์</div>
                        <div><%= athlete.knockoutsLosses%></div>
                    </div>
                    <div class="stat-item">
                        <div><%= athlete.technicalKnockouts%></div>
                        <div>ทีเคโอ</div>
                        <div><%= athlete.technicalKnockoutsLosses%></div>
                    </div>
                    <div class="stat-item">
                        <div><%= athlete.overwhelmingScore%></div>
                        <div>คะแนนเอกฉันท์</div>
                        <div><%= athlete.overwhelmingScoreLosses%></div>
                    </div>
                    <div class="stat-item">
                        <div><%= athlete.majorityVotes%></div>
                        <div>คะแนนเสียงข้างมาก</div>
                        <div><%= athlete.majorityVotesLosses%></div>
                    </div>
                </div>
                
                <div class="w-100" style="margin: 0 auto;">
                    <h2 class="text-center" style="margin-bottom: 1em;">ข้อมูลการแข่งขัน</h2>
                    <div class="percent">
                        <div>
                            <span>จำนวนการทั้งหมด</span> <span><%= totalRound%> ยก</span>
                        </div>
                        <div>
                            <span>อัตราการชนะ</span>
                            <% const winrate = (athlete.wins>0)?((athlete.wins/(athlete.wins+athlete.losses))*100).toFixed(2):0 %>
                            <span><%= winrate%> %</span>       
                        </div>
                        <div>
                            <span>เวลาการแข่งขันทั้งหมด</span>
                            <span><%= (totalTime>0)? convertSecondsToTime(totalTime):"0 นาที"%></span>
                        </div>
                        <div>
                            <span>เวลาเฉลี่ย/ยก</span>
                            <% const roundRate = (totalTime&&totalRound)?((totalTime/60)/totalRound).toFixed(3):'0' %>
                            <span><%= roundRate%> นาที</span>
                        </div>
                    </div>
                </div>
                <%if(athlete.wins>0){%>
                    <div class="w-100" style="display: flex; align-items: center;">
                        <canvas id="over-all"></canvas>
                    </div>
                    <div class="w-100">
                        <canvas id="canvas" width="550px"></canvas>
                        <div class="css-shadow">
                            <div class="doughChart">
                                <h2>อัตราการชนะ</h2>
                                <div class="canvas-wrap">
                                    <h3><%= Math.floor((athlete.wins/(athlete.wins+athlete.losses))*100)%>%</h3>
                                    <canvas id="doughnutTotalWinRate"></canvas>
                                </div>
                            </div>
                            <div class="doughChart">
                                <h2>ชนะน็อกเอาต์</h2>
                                <div class="canvas-wrap">
                                    <h3><%= Math.floor((athlete.knockouts/(athlete.wins))*100)%>%</h3>
                                    <canvas id="doughnutKnockouts"></canvas>
                                </div>
                            </div>
                            <div class="doughChart">
                                <h2>ชนะทีเคโอ</h2>
                                <div class="canvas-wrap">
                                    <h3><%= Math.floor(athlete.technicalKnockouts/(athlete.wins)*100)%>%</h3>
                                    <canvas id="doughnutTko"></canvas>
                                </div>
                            </div>
                            <div class="doughChart">
                                <h2>ชนะคะแนนเอกฉันท์</h2>
                                <div class="canvas-wrap">
                                    <h3><%= Math.floor((athlete.overwhelmingScore/(athlete.wins))*100)%>%</h3>
                                    <canvas id="doughnutScore"></canvas>
                                </div>
                            </div>
                            <div class="doughChart">
                                <h2>ชนะคะแนนไม่เอกฉันท์</h2>
                                <div class="canvas-wrap">
                                    <h3><%= Math.floor((athlete.majorityVotes/(athlete.wins))*100)%>%</h3>
                                    <canvas id="doughnutMajor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
        </div>
        <div style="margin: 5em 0;">
            <h2 class="text-center mb-5">ผลการแข่งขัน</h2>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>ผลการแข่งขัน</th>
                        <th>การตัดสิน</th>
                        <th>ยก</th>
                        <th>คู่แข่ง</th>
                        <th>อีเวนต์</th>
                    </tr>
                </thead>
                <tbody>
                    <%if(athlete.matches.length==0){%>
                        <tr><td class="text-center" colspan="5">ไม่มีข้อมูลการแข่งขัน</td></tr>
                    <%}
                        var totalRound = 0
                        var totalTime = 0
                        var totalMatch = 0
                    %>
                    <%for(let match of athlete.matches.sort()){
                        totalMatch++
                        totalRound += match.ResultRound
                        totalTime += (((match.ResultRound)-1)*3)*60+match.ResultClock
                        
                        var count = 0
                        for(var matchDetail of match.athletes){%>
                            <% if(!matchDetail.winner){
                                count++
                            } %>
                            <%if(athlete._id==matchDetail.athlete._id.toString()){
                                var resultMatch = (matchDetail.winner)? "ชนะ":"แพ้"
                                var resultClass = (matchDetail.winner)? "text-success":"text-danger"
                            }else{
                                var compet = matchDetail.athlete
                            }
                        }%>
                        <tr>
                            <% if(count==2){%>
                                <td class="text-secondary">ไม่มีผลการตัดสิน</td>
                                <td>ไม่มีผลการตัดสิน</td>
                            <%}else{%>
                                <td class="<%= resultClass%>"><%= resultMatch%></td>
                                <td><%= judgement(match.ResultType)%></td>
                            <%} %>
                            <td>ยก <%= match.ResultRound%> <%= convertSecondsToMin(match.ResultClock)%></td>
                            <%let competImg = (compet.user.img)? compet.user.img:"avartar.png"%>
                            <td class="d-flex">
                                <img width="50px" height="50px" src="/images/profile/<%= competImg%>" alt="">
                                <p class="text-center ms-3">
                                    <%= compet.nickname%> <%= compet.user.fname%> <br> <%= compet.country%>
                                </p>
                            </td>
                            <td><%= match.event.eventName%> <br> <%= formatDate(match.event.eventDate)%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
                    const overAll = document.getElementById('over-all')
            new Chart(overAll, {
                type: 'pie',
                data: {
                labels: [
                    'ชนะ',
                    'แพ้',
                ],
                datasets: [{
                    label: `สถิติ <%= athlete.nickname%>`,
                    data: [`<%= athlete.wins%>`, `<%= athlete.losses%>`],
                    backgroundColor: [

                    '#8C0000',
                    '#19191E',

                    ],
                    hoverOffset: 4
                }]
                }
            })
            
            let barChartData = {
                labels: [
                    "น็อกเอาต์",
                    "ทีเคโอ",
                    "คะแนนเอกฉันท์",
                    "คะแนนเสียงข้างมาก",
                ],
                datasets: [
                    {
                    label: "ชนะ",
                    backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 205, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    data: [
                        `<%= athlete.knockouts%>`,
                        `<%= athlete.technicalKnockouts%>`,
                        `<%= athlete.overwhelmingScore%>`,
                        `<%= athlete.majorityVotes%>`,
                    ]
                    },
                    {
                    label: "แพ้",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(255, 159, 64, 0.4)',
                        'rgba(255, 205, 86, 0.4)',
                        'rgba(75, 192, 192, 0.4)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    data: [
                        `<%= athlete.knockoutsLosses%>`,
                        `<%= athlete.technicalKnockoutsLosses%>`,
                        `<%= athlete.overwhelmingScoreLosses%>`,
                        `<%= athlete.majorityVotesLosses%>`,
                    ]
                    },
                ]
                }
                var chartOptions = {
                responsive: true,
                legend: {
                    position: "top"
                },
                title: {
                    display: true,
                    text: "Chart.js Bar Chart"
                },
            }
            
            let ctx = document.getElementById("canvas").getContext("2d")
            window.myBar = new Chart(ctx, {
                type: "bar",
                data: barChartData,
                options: chartOptions
            })
            const createDoughnut = (dom, score)=>{
                ctx = dom.getContext('2d')
                let doughnutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                        data: [score, 100-score],
                        backgroundColor: ['rgb(210, 10, 10)', 'rgba(0, 0, 0, 0)']
                        }]
                    },
                    options: {
                        cutoutPercentage: score, 
                        legend: {
                        display: false
                        },
                        events: [],
                        elements: {
                            arc: {
                                borderWidth: 1
                            }
                        }
                    }
                })
            }
            createDoughnut(doughnutTotalWinRate, `<%= (athlete.wins/(athlete.wins+athlete.losses))*100%>`)
            createDoughnut(doughnutKnockouts, `<%= (athlete.knockouts/athlete.wins)*100%>`)
            createDoughnut(doughnutTko, `<%= (athlete.technicalKnockouts/athlete.wins)*100%>`)
            createDoughnut(doughnutScore, `<%= (athlete.overwhelmingScore/athlete.wins)*100%>`)
            createDoughnut(doughnutMajor, `<%= (athlete.majorityVotes/athlete.wins)*100%>`)
    </script>
</body>
</html>