<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs")%>
    <style>
        .athlete-contain{
            padding: 1em 5em;
        }
        .athlete-list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            place-items: center;
            
        }.athlete-item{
            width: fit-content;
            text-align: center;
        }
        .athlete-item img{
            display: block;
            object-fit: cover;
            width: 13em;
            height: 15em;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="athlete-contain mt-4">
        <h1 class="mb-5">Athletes</h1>
        <div class="athlete-list">
        <%if(athletesData.length==0){%>
            <p>ไม่มีข้อมูลนักกีฬา</p>
        <%}else{
            athletesData.forEach(athlete => {%>
                <div class="athlete-item">
                    <a href="/athletes/find?id=<%=athlete._id%>">go</a>
                    <img id="<%=athlete._id%>" class="athlete" src="<%= athlete.profileImg%>" alt="<%= athlete.aka%>">
                    <h4 class="mt-2"><%= athlete.aka%></h4>
                    <p class="mt-1"><%= athlete.country%></p>
                    <p><%= //athlete%></p>
                </div>
            <%})
        }%>
        </div>
    </div>


    <script>
        let athlete = document.querySelectorAll('.athlete')
        console.log(athlete);
        athlete.forEach(e => {
            e.addEventListener('click', ()=>{
                window.location.href = `/athletes/info/?id=${e.id}`
            })
        });
    </script>
</body>
</html>